# Configs

Import packages.

In [1]:
import pandas as pd
import yaml

from pathlib import Path

Read the GIFT-Eval datasets' metadata.

In [3]:
metadata_path = Path("../src/data/meta/metadata.csv")

df = pd.read_csv(metadata_path)

print(f"shape: {df.shape}")
df.head()

shape: (97, 10)

,name,term,freq,domain,_total_univariate_series,target_dim,_min_series_length,sum_series_length,prediction_length,windows
0,LOOP_SEATTLE/5T,short,5T,Transport,323,1,105120,33953760,48,20
1,LOOP_SEATTLE/D,short,D,Transport,323,1,365,117895,30,2
2,LOOP_SEATTLE/H,short,H,Transport,323,1,8760,2829480,48,19
3,M_DENSE/D,short,D,Transport,30,1,730,21900,30,3
4,M_DENSE/H,short,H,Transport,30,1,17520,525600,48,20

Count the number of datasets in each data config.

In [ ]:
cfg_paths = list(Path("../conf/data").glob("*.yaml"))

for path in cfg_paths:
    with open(path, "r") as f:
        cfg = yaml.safe_load(f)

    print(f"{path.name}: {len(cfg)} datasets")

all.yaml: 97 datasets
econ_fin.yaml: 6 datasets
energy.yaml: 32 datasets
healthcare.yaml: 5 datasets
medium_long.yaml: 42 datasets
nature.yaml: 15 datasets
sales.yaml: 4 datasets
short.yaml: 55 datasets
transport.yaml: 15 datasets
web_cloudops.yaml: 20 datasets