# Results

Import packages.

In [1]:
import pandas as pd
from pathlib import Path

Specify the configuration to read results for.

In [2]:
# * Model choice
alias = "SLSQPEnsemble_3-models_chronos-flowstate-timesfm_opt-mae_1-windows"

# * Random metric
# alias = "SLSQPEnsemble_3-models_moirai-sundial-toto_opt-random_1-windows"

# * Additional models
# alias = "SLSQPEnsemble_4-models_chronos-moirai-sundial-toto_opt-mae_1-windows"

Read all of the configuration's CSV files into a single DataFrame and save the aggregated results.

In [3]:
input_path = Path(f"../results/{alias}")
csv_files = list(input_path.rglob("*.csv"))

df = pd.concat((pd.read_csv(f).tail(1) for f in csv_files), ignore_index=True)
print(f"df shape: {df.shape}")

output_path = Path(f"../results/all_results/{alias}") / "all_results.csv"
output_path.parent.mkdir(parents=True, exist_ok=True)
df.to_csv(output_path, index=False)
print(f"Saved aggregatted results to {output_path}")

df.head()

df shape: (71, 15)
Saved aggregatted results to ../results/all_results/SLSQPEnsemble_3-models_chronos-flowstate-timesfm_opt-mae_1-windows/all_results.csv

,dataset,model,eval_metrics/MSE[mean],eval_metrics/MSE[0.5],eval_metrics/MAE[0.5],eval_metrics/MASE[0.5],eval_metrics/MAPE[0.5],eval_metrics/sMAPE[0.5],eval_metrics/MSIS,eval_metrics/RMSE[mean],eval_metrics/NRMSE[mean],eval_metrics/ND[0.5],eval_metrics/mean_weighted_sum_quantile_loss,domain,num_variates
0,us_births/M/short,SLSQPEnsemble_3-models_chronos-flowstate-times...,3.972660e+07,3.972660e+07,5216.296998,0.588763,0.016061,0.016235,4.171646,6302.904331,0.019577,0.016202,0.012270,Healthcare,1
1,us_births/W/short,SLSQPEnsemble_3-models_chronos-flowstate-times...,1.930535e+06,1.930535e+06,1081.783271,0.983535,0.014695,0.014715,5.570850,1389.436852,0.018861,0.014685,0.011468,Healthcare,1
2,us_births/D/short,SLSQPEnsemble_3-models_chronos-flowstate-times...,1.361437e+05,1.361437e+05,221.820000,0.326542,0.021230,0.021208,2.635652,368.976612,0.034589,0.020794,0.016536,Healthcare,1
3,kdd_cup_2018/D/short,SLSQPEnsemble_3-models_chronos-flowstate-times...,2.988720e+03,2.988720e+03,21.386729,1.203104,0.499154,0.470891,9.264702,54.669189,1.224648,0.479085,0.378754,Nature,1
4,kdd_cup_2018/H/short,SLSQPEnsemble_3-models_chronos-flowstate-times...,4.275291e+03,4.275291e+03,22.440467,0.940784,0.891211,0.494234,7.542641,65.385712,1.368641,0.469720,0.375839,Nature,1

View the number of datasets for each term.

In [4]:
num_short_datasets = df['dataset'].str.contains('short', case=False, na=False).sum()
print(f"Number of short datasets: {num_short_datasets}")

Number of short datasets: 53

View the number of datasets for each domain.

In [5]:
domain_counts = (
    df.groupby("domain")
      .size()
      .reset_index(name="num_evaluated_datasets")
)

display(domain_counts)

         domain  num_evaluated_datasets
0      Econ/Fin                       6
1        Energy                      22
2    Healthcare                       5
3        Nature                      11
4         Sales                       4
5     Transport                       9
6  Web/CloudOps                      14

Display all of the results and only show the MASE and CRPS columns.

In [6]:
pd.set_option('display.max_rows', None)

df = df.rename(columns={
    "eval_metrics/MASE[0.5]": "MASE",
    "eval_metrics/mean_weighted_sum_quantile_loss": "CRPS",
},
errors="ignore",
)

keep_cols = [
    "dataset",
    "MASE",
    "CRPS",
    "domain",
    "num_variates",
]
df = df[keep_cols].sort_values(by="CRPS", ascending=False).reset_index(drop=True)
display(df)

,dataset,MASE,CRPS,domain,num_variates
0,car_parts/M/short,0.835387,0.944829,Sales,1
1,bitbrains_fast_storage/H/short,1.107796,0.697610,Web/CloudOps,2
2,bitbrains_rnd/H/short,5.857974,0.605985,Web/CloudOps,2
3,hierarchical_sales/D/short,0.738195,0.566412,Sales,1
4,temperature_rain/D/short,1.326381,0.541326,Nature,1
5,solar/10T/short,0.794058,0.400759,Energy,1
6,kdd_cup_2018/D/short,1.203104,0.378754,Nature,1
7,kdd_cup_2018/H/short,0.940784,0.375839,Nature,1
8,saugeen/W/short,1.173620,0.357284,Nature,1
9,saugeen/D/short,2.802534,0.342358,Nature,1
10,hierarchical_sales/W/short,0.709967,0.337892,Sales,1
11,solar/H/short,0.863968,0.328362,Energy,1
12,bizitobs_l2c/5T/long,0.681861,0.310678,Web/CloudOps,7
13,saugeen/M/short,0.714358,0.297997,Nature,1
14,bizitobs_l2c/5T/medium,0.653873,0.274154,Web/CloudOps,7
15,ett1/H/long,1.389392,0.273001,Energy,7
16,solar/D/short,0.955812,0.267439,Energy,1
17,ett1/D/short,1.680134,0.265747,Energy,7
18,bizitobs_l2c/H/long,0.566609,0.261373,Web/CloudOps,7
19,restaurant/D/short,0.686361,0.258188,Sales,1
20,ett1/H/medium,1.235455,0.248115,Energy,7
21,ett1/W/short,1.444148,0.240528,Energy,7
22,bizitobs_l2c/H/medium,0.501103,0.236948,Web/CloudOps,7
23,ett1/15T/long,0.973562,0.227691,Energy,7
24,sz_taxi/15T/short,0.541333,0.199333,Transport,1
25,bizitobs_l2c/H/short,0.421841,0.177849,Web/CloudOps,7
26,ett1/H/short,0.791897,0.170393,Energy,7
27,ett1/15T/short,0.677759,0.159235,Energy,7
28,solar/W/short,1.174462,0.157062,Energy,1
29,sz_taxi/H/short,0.563303,0.135502,Transport,1
30,m_dense/H/short,0.769538,0.125836,Transport,1
31,m_dense/H/medium,0.677498,0.112570,Transport,1
32,m_dense/H/long,0.679691,0.112368,Transport,1
33,m4_yearly/A/short,3.039374,0.108292,Econ/Fin,1
34,ett2/H/long,1.005508,0.104935,Energy,7
35,ett2/H/medium,1.023213,0.103699,Energy,7
36,ett2/D/short,1.262077,0.091759,Energy,7
37,m4_monthly/M/short,0.907357,0.091130,Econ/Fin,1
38,ett2/15T/long,0.868049,0.090277,Energy,7
39,ett2/W/short,0.807346,0.085877,Energy,7
40,electricity/15T/short,0.889768,0.075932,Energy,1
41,m4_quarterly/Q/short,1.149588,0.073275,Econ/Fin,1
42,bizitobs_l2c/5T/short,0.266656,0.070616,Web/CloudOps,7
43,electricity/H/short,0.887400,0.063390,Energy,1
44,ett2/H/short,0.720447,0.063050,Energy,7
45,ett2/15T/short,0.729614,0.062926,Energy,7
46,m_dense/D/short,0.642828,0.060740,Transport,1
47,loop_seattle/H/short,0.799355,0.056543,Transport,1
48,bizitobs_application/10S/long,3.297205,0.054137,Web/CloudOps,2
49,jena_weather/H/long,0.946294,0.053323,Nature,21
50,electricity/D/short,1.357850,0.052888,Energy,1
51,bizitobs_service/10S/long,1.372657,0.052658,Web/CloudOps,2
52,hospital/M/short,0.753891,0.050373,Healthcare,1
53,jena_weather/H/medium,0.787511,0.048106,Nature,21
54,loop_seattle/5T/short,0.544220,0.046662,Transport,1
55,electricity/W/short,1.398933,0.046466,Energy,1
56,jena_weather/D/short,0.988136,0.044500,Nature,21
57,loop_seattle/D/short,0.873194,0.041671,Transport,1
58,jena_weather/H/short,0.520017,0.041210,Nature,21
59,covid_deaths/D/short,35.938893,0.039235,Healthcare,1
60,m4_weekly/W/short,1.993821,0.036530,Econ/Fin,1
61,jena_weather/10T/short,0.265047,0.029034,Nature,21
62,bizitobs_application/10S/medium,1.955472,0.028087,Web/CloudOps,2
63,m4_daily/D/short,3.293668,0.021727,Econ/Fin,1
64,m4_hourly/H/short,0.757330,0.021218,Econ/Fin,1
65,bizitobs_service/10S/medium,1.030060,0.021081,Web/CloudOps,2
66,us_births/D/short,0.326542,0.016536,Healthcare,1
67,us_births/M/short,0.588763,0.012270,Healthcare,1
68,us_births/W/short,0.983535,0.011468,Healthcare,1
69,bizitobs_service/10S/short,0.728495,0.010468,Web/CloudOps,2
70,bizitobs_application/10S/short,0.996941,0.009216,Web/CloudOps,2